/* styles for content grid */

.content-1 { /* back ground for whole section */
  background-color: #f4f4f4;
}

.content-heading { /* div that holds header and subheader before grid columns start */
  padding: 20px;
}

.content-piece { /* styling for each content piece chunk, each within it's own column*/
  background-color: white;
  padding: 20px;
  margin: 20px 0px;
}
