/* styles for content grid */

.content-grid { /* back ground for whole section */
  background-color: #f4f4f4;
}

.content-heading { /* div that holds header and subheader before grid columns start */
  padding: 10%;
}

.content-piece { /* styling for each content piece chunk, each within it's own column*/
  background-color: white;
  padding: 20px;
  margin: 20px 0px;
  margin-top: 40px;
  min-height: 300px;
}

.connect, .discover, .learn, .start { /* set relative pos for divs so pseudo elements will position absolutely*/
  position: relative;
}

.connect:before {
  content: url('../../images/icon-connect.svg');
  display: table;
  clear:both;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.discover:before {
  content: url('../../images/icon-discover.svg');
  display: table;
  clear:both;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.learn:before {
  content: url('../../images/icon-learn.svg');
  display: table;
  clear:both;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.start:before {
  content: url('../../images/icon-start.svg');
  display: table;
  clear:both;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
