// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
  // margin-bottom: 0px;
}

.navbar-header {
  background-color: white;
  color: black;
}
/* sizing and padding for startup weekend logo */
.startup-logo {
  width: 24rem;
  padding: 7px;
  float: left;
}
