// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


/* icon bars */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #3ccf80;
}

.navbar-inverse {
  border: none;
}

.navbar-toggle {
  border: none;
}

.go {
  background-color: white;
  border: none;
}
