/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 135% / 1.4 $text-font-stack;
}

h1 {
  font-weight: 900;
  font-size: 220%;
  margin: 10px 0px;
}

p {
  font-size: 140%;
  line-height: 2em;
}



.hero {
  color: white;
  line-height: 2.25rem;
}

.findEvent h3 {
  text-align: center;
  color: white;
}

.findEvent p:last-child {
  text-align: center;
  color: white;
}

.content-grid {
  text-align: center;
}



@media screen and (min-width: 768px) {

  .hero {
    text-align: center;
  }

}
