/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.findEvent h3 {
  text-align: center;
  color: white;
}

.hero {
  color: white;
}

.findEvent p:last-child {
  text-align: center;
  color: white;
}

.content-1 {
  text-align: center;
}
